<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.2.0.ee"/>
<stringAttribute key="mule-agent-port" value="50467"/>
<listAttribute key="mule-project-names">
<listEntry value="quikeproject__belaye12"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/quikeproject__belaye12"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="quikeproject__belaye12"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking"/>
</launchConfiguration>
